# Sesión 5 Introducción a ETL

+ Extraer
+ Transformar
+ Cargar

In [1]:
import pandas as pd
import numpy as np

In [7]:
def extraer_de_csv(archivo_procesar):
    df = pd.read_csv(archivo_procesar)
    return df

In [2]:
def extraer_de_json(archivo_procesar):
    df = pd.read_json(archivo_procesar, lines = True)
    return df

In [3]:
import xml.etree.ElementTree as et
import glob

In [4]:
def extraer_de_xml(archivo_procesar):
    xtree = et.parse(archivo_procesar)
    xroot = xtree.getroot()
    df = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    for persona in xroot:
        nombre = persona.find('nombre').text
        ventas1 = float(persona.find('ventas1').text)
        ventas = float(persona.find('ventas').text)
        df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
    return df

In [8]:
def extraer():
    extraer_dato = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    
    for a_csv in glob.glob('./Archives/*.csv'):
        extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
        
    for a_json in glob.glob('./Archives/*.json'):
        extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
        
    for a_xml in glob.glob('./Archives/*.xml'):
        extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
    return extraer_dato

In [9]:
extraer()

C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_6156\3395759484.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)

    nombre  ventas1  ventas
0     alex    65.78  112.99
1     ajay    71.52  136.49
2    alice    69.40  153.03
3     ravi    68.22  142.34
4      joe    67.79  144.30
5    maria    36.78  121.99
6   isabel    78.00  130.49
7    alice    69.40  153.03
8   javier    88.22   42.34
9     juan    57.79   44.30
10    alex    87.78  233.99
11     bea    59.00  339.00
12    john    59.40   48.89
13    ravi    20.00   38.34
14    juan    56.79   94.30
15    jack    68.70  123.30
16     tom    69.80  141.49
17   tracy    70.01  136.46
18    john    67.90  112.37
19    jack    60.00  135.30
20   tomas    90.00   67.49
21    lucy    70.00   78.46
22  george    88.90  391.37
23   david    22.70   89.30
24     tom    39.80   90.49
25   tracy    70.01  136.46
26    juan   144.90  220.37
27   simon    67.90  112.37
28   jacob    66.78  120.67
29   cindy    66.49  127.45
30    ivan    67.62  114.14
31    juan    43.00   89.37
32   jacob    46.78   10.67
33   mindy    70.00  137.00
34  sergio    68.00  124.14
35   simon    34.90  140.37
36    beto    90.78   90.67
37   cindy    29.00   30.00
38  victor   120.00  230.00