# Sesión 5 Introducción a ETL

+ Extraer
+ Transformar
+ Cargar

In [8]:
import pandas as pd
import numpy as np

In [9]:
def extraer_de_csv(archivo_procesar):
    df = pd.read_csv(archivo_procesar)
    return df

In [10]:
def extraer_de_json(archivo_procesar):
    df = pd.read_json(archivo_procesar, lines = True)
    return df

In [11]:
import xml.etree.ElementTree as et
import glob

In [12]:
def extraer_de_xml(archivo_procesar):
    xtree = et.parse(archivo_procesar)
    xroot = xtree.getroot()
    df = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    for persona in xroot:
        nombre = persona.find('nombre').text
        ventas1 = float(persona.find('ventas1').text)
        ventas = float(persona.find('ventas').text)
        df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
    return df

In [13]:
def extraer():
    extraer_dato = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    
    for a_csv in glob.glob('./Archives/*.csv'):
        print(a_csv)
        extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
        
    for a_json in glob.glob('./Archives/*.json'):
        print(a_json)
        extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
        
    for a_xml in glob.glob('./Archives/*.xml'):
        print(a_xml)
        extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
    return extraer_dato

In [14]:
extraer()

./Archives\source1.csv

C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)

./Archives\source2.csv
./Archives\source3.csv
./Archives\source1.json
./Archives\source2.json
./Archives\source3.json
./Archives\source1.xml
./Archives\source2.xml
./Archives\source3.xml

C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1923074529.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_13844\1764769722.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)

    nombre ventas1  ventas
0     alex   65.78  112.99
1     ajay   71.52  136.49
2    alice    69.4  153.03
3     ravi   68.22  142.34
4      joe   67.79   144.3
5    maria   36.78  121.99
6   isabel    78.0  130.49
7    alice    69.4  153.03
8   javier   88.22   42.34
9     juan   57.79    44.3
10    alex   87.78  233.99
11     bea    59.0   339.0
12    john    59.4   48.89
13    ravi    20.0   38.34
14    juan   56.79    94.3
15    jack    68.7   123.3
16     tom    69.8  141.49
17   tracy   70.01  136.46
18    john    67.9  112.37
19    jack    60.0   135.3
20   tomas    90.0   67.49
21    lucy    70.0   78.46
22  george    88.9  391.37
23   david    22.7    89.3
24     tom    39.8   90.49
25   tracy   70.01  136.46
26    juan   144.9  220.37
27   simon    67.9  112.37
28   jacob   66.78  120.67
29   cindy   66.49  127.45
30    ivan   67.62  114.14
31    juan    43.0   89.37
32   jacob   46.78   10.67
33   mindy    70.0   137.0
34  sergio    68.0  124.14
35   simon    34.9  140.37
36    beto   90.78   90.67
37   cindy    29.0    30.0
38  victor   120.0   230.0