## Tarea 4

Defino librerias que voy a usar

In [1]:
import numpy as np
import pandas as pd

1. Definir una función que implemente el método Fibonacci

In [2]:
def fibonacci(n):
    if n < 0:
        print('Número incorrecto')
    elif n in {0, 1}:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

In [3]:
fibonacci(3)

2

In [4]:
print([fibonacci(n) for n in range(15)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

2. Definir una función que identifique si una palabra es palíndromo

In [5]:
def palindromo(palabra):
    reverso_palabra = palabra[::-1]
    estado = 1
    if(palabra != reverso_palabra):
        estado = 0
    return estado

In [6]:
palabra = input('Ingrese una palabra: ')
estado = palindromo(palabra)
if(estado):
    print(palabra,'es palindromo')
else:
    print('Intente nuevamente')

Ingrese una palabra: hola
Intente nuevamente

3. Definir una función que como parámetro de entrada reciba un diccionario con los nombres y notas de alumnos y devuelva una seria con la nota mínima, máxima y la media.

4. Identificar los valores nulos del dataset Titanic

In [7]:
d = 'C:/Users/Yhony/Documents/GitHub/EA_phyton/Sesiones/Data1/titanic.csv'

In [8]:
data = pd.read_csv(d)

In [9]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

5. Calcular la cantidad de sobrevivientes del titanic que sean hombres, que hayan estado en tercera clase y que sean mayores de 20 años.

In [10]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

6. Crear una nueva columna que indique si eran menor de edad (usar ‘Si’ y ‘No’).

7. Mostrar el histograma de los sobrevivientes en función de su edad.