# Tarea 5

Defino librerias que se usará

In [1]:
import numpy as np
import pandas as pd

1. Modificar las funciones de extracción para que añadan dos columnas: una de nombre origen donde se identifique el nombre de archivo y otra de nombre tipo donde se identifique el tipo de archivo (csv, json, xml).

Primera forma

Se define las funciones que convertiran a los datos extraidos de los diferentes formatos (.csv, .json, .xml) en un ``DataFrame``

In [2]:
def extraer_de_csv(archivo_procesar):
    df = pd.read_csv(archivo_procesar)
    
    filename = archivo_procesar.replace('./data_H5\\', '')
    filename2 = filename.replace('.csv', '')
    df['origen'] = filename2
    df['tipo'] = 'csv'
    
    return df

In [3]:
def extraer_de_json(archivo_procesar):
    df = pd.read_json(archivo_procesar, lines = True)
    
    filename = archivo_procesar.replace('./data_H5\\', '')
    filename2 = filename.replace('.json', '')
    df['origen'] = filename2
    df['tipo'] = 'json'
    
    return df

In [4]:
import xml.etree.ElementTree as et
import glob

In [5]:
def extraer_de_xml(archivo_procesar):
    xtree = et.parse(archivo_procesar)
    xroot = xtree.getroot()
    df = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    for persona in xroot:
        nombre = persona.find('nombre').text
        ventas1 = float(persona.find('ventas1').text)
        ventas = float(persona.find('ventas').text)
        df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
        
    filename = archivo_procesar.replace('./data_H5\\', '')
    filename2 = filename.replace('.xml', '')
    df['origen'] = filename2
    df['tipo'] = 'xml'
    
    return df

In [6]:
def extraer():
    extraer_dato = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    
    for a_csv in glob.glob('./data_H5/*.csv'):
        extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
        
    for a_json in glob.glob('./data_H5/*.json'):
        extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
        
    for a_xml in glob.glob('./data_H5/*.xml'):
        extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
        
    return extraer_dato

In [7]:
extraer()

C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_csv(a_csv), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_json(a_json), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2098358766.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'nombre':nombre,'ventas1':ventas1,'ventas':ventas}, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\2640560538.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(extraer_de_xml(a_xml), ignore_index = True)

    nombre  ventas1  ventas   origen  tipo
0     alex    65.78  112.99  source1   csv
1     ajay    71.52  136.49  source1   csv
2    alice    69.40  153.03  source1   csv
3     ravi    68.22  142.34  source1   csv
4      joe    67.79  144.30  source1   csv
5    maria    36.78  121.99  source2   csv
6   isabel    78.00  130.49  source2   csv
7    alice    69.40  153.03  source2   csv
8   javier    88.22   42.34  source2   csv
9     juan    57.79   44.30  source2   csv
10    alex    87.78  233.99  source3   csv
11     bea    59.00  339.00  source3   csv
12    john    59.40   48.89  source3   csv
13    ravi    20.00   38.34  source3   csv
14    juan    56.79   94.30  source3   csv
15    jack    68.70  123.30  source1  json
16     tom    69.80  141.49  source1  json
17   tracy    70.01  136.46  source1  json
18    john    67.90  112.37  source1  json
19    jack    60.00  135.30  source2  json
20   tomas    90.00   67.49  source2  json
21    lucy    70.00   78.46  source2  json
22  george    88.90  391.37  source2  json
23   david    22.70   89.30  source3  json
24     tom    39.80   90.49  source3  json
25   tracy    70.01  136.46  source3  json
26    juan   144.90  220.37  source3  json
27   simon    67.90  112.37  source1   xml
28   jacob    66.78  120.67  source1   xml
29   cindy    66.49  127.45  source1   xml
30    ivan    67.62  114.14  source1   xml
31    juan    43.00   89.37  source2   xml
32   jacob    46.78   10.67  source2   xml
33   mindy    70.00  137.00  source2   xml
34  sergio    68.00  124.14  source2   xml
35   simon    34.90  140.37  source3   xml
36    beto    90.78   90.67  source3   xml
37   cindy    29.00   30.00  source3   xml
38  victor   120.00  230.00  source3   xml

Segunda forma

In [8]:
from pathlib import Path

In [9]:
def extraer_csv1(archivo_procesar):
    df = pd.read_csv(archivo_procesar)
    df['origen'] =Path(archivo_procesar).stem
    return df

In [10]:
def extraer_json1(archivo_procesar):
    df = pd.read_json(archivo_procesar, lines = True)
    df['origen'] =Path(archivo_procesar).stem
    return df

In [11]:
def extraer_xml1(archivo_procesar):
    xtree = et.parse(archivo_procesar)
    xroot = xtree.getroot()
    df = pd.DataFrame(columns = ['nombre','ventas1','ventas']) 
    for persona in xroot:
        nombre = persona.find('nombre').text
        ventas1 = float(persona.find('ventas1').text)
        ventas = float(persona.find('ventas').text)
        df = df.append ({'nombre':nombre,'ventas1':ventas1,'ventas':ventas},ignore_index = True)
        df['origen'] =Path(archivo_procesar).stem
        return df

In [12]:
def extraer1():
    extraer_dato = pd.DataFrame(columns = ['nombre','ventas1','ventas'])
    
    for a_csv in glob.glob('./data_H5/*.csv'):
        p = extraer_csv1(a_csv)
        p['tipo'] = "csv"
        extraer_dato = extraer_dato.append(p, ignore_index = True) 
              
    for a_json in glob.glob('./data_H5/*.json'):
        p = extraer_json1(a_json)
        p['tipo'] = "json"
        extraer_dato = extraer_dato.append(p, ignore_index = True)
        
    for a_xml in glob.glob('./data_H5/*.xml'):
        p = extraer_xml1(a_xml)
        p['tipo'] = "xml"
        extraer_dato = extraer_dato.append(p, ignore_index = True)
    return extraer_dato

In [13]:
extraer1()

C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\874387043.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append ({'nombre':nombre,'ventas1':ventas1,'ventas':ventas},ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\874387043.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append ({'nombre':nombre,'ventas1':ventas1,'ventas':ventas},ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\874387043.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append ({'nombre':nombre,'ventas1':ventas1,'ventas':ventas},ignore_index = True)
C:\Users\Yhony\AppData\Local\Temp\ipykernel_664\1211986936.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extraer_dato = extraer_dato.append(p, ignore_index = True)

    nombre  ventas1  ventas   origen  tipo
0     alex    65.78  112.99  source1   csv
1     ajay    71.52  136.49  source1   csv
2    alice    69.40  153.03  source1   csv
3     ravi    68.22  142.34  source1   csv
4      joe    67.79  144.30  source1   csv
5    maria    36.78  121.99  source2   csv
6   isabel    78.00  130.49  source2   csv
7    alice    69.40  153.03  source2   csv
8   javier    88.22   42.34  source2   csv
9     juan    57.79   44.30  source2   csv
10    alex    87.78  233.99  source3   csv
11     bea    59.00  339.00  source3   csv
12    john    59.40   48.89  source3   csv
13    ravi    20.00   38.34  source3   csv
14    juan    56.79   94.30  source3   csv
15    jack    68.70  123.30  source1  json
16     tom    69.80  141.49  source1  json
17   tracy    70.01  136.46  source1  json
18    john    67.90  112.37  source1  json
19    jack    60.00  135.30  source2  json
20   tomas    90.00   67.49  source2  json
21    lucy    70.00   78.46  source2  json
22  george    88.90  391.37  source2  json
23   david    22.70   89.30  source3  json
24     tom    39.80   90.49  source3  json
25   tracy    70.01  136.46  source3  json
26    juan   144.90  220.37  source3  json
27   simon    67.90  112.37  source1   xml
28    juan    43.00   89.37  source2   xml
29   simon    34.90  140.37  source3   xml