# Tarea 8
Importamos las librerias que se usar√°n

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd

In [2]:
CM_data = pd.read_csv("./data_H8/data.csv", usecols= ["id","diagnosis","radius_mean","texture_mean"])
CM_data.head()

         id diagnosis  radius_mean  texture_mean
0    842302         M        17.99         10.38
1    842517         M        20.57         17.77
2  84300903         M        19.69         21.25
3  84348301         M        11.42         20.38
4  84358402         M        20.29         14.34

In [3]:
CM_data.loc[(CM_data.radius_mean <= 14.1),'radius2']=1
CM_data.loc[(CM_data.radius_mean > 14.1),'radius2']=2

CM_data.loc[(CM_data.texture_mean <= 19.3),'texture2']=1
CM_data.loc[(CM_data.texture_mean > 19.3) ,'texture2']=2

In [4]:
CM_data.drop(['radius_mean', 'texture_mean', 'id'], axis=1, inplace = True)
CM_data.dropna(inplace = True)
len(CM_data)

569

In [5]:
y_data = CM_data['diagnosis']
x_data = CM_data.drop('diagnosis', axis = 1)

x_training, x_test, y_training, y_test = train_test_split(x_data,y_data, 
                                                         test_size = 0.2)

In [6]:
modelLR = LogisticRegression()
modelLR.fit(x_training, y_training)

predictions = modelLR.predict(x_test[0:3])
print(x_test[0:3],predictions)

     radius2  texture2
424      1.0       1.0
173      1.0       1.0
460      2.0       2.0 ['B' 'B' 'M']